/* main.css */
* {
    margin: 0;
    padding: 0;
}
body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
    background-color: #fff;
    color: #333;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    margin: 0;
    padding: 0;
}

.logo {
    color: #222;
    text-align: center;
    background-color: #f5802c;
    width: 100%;
}

.logo svg {
    height: 8rem;
    width: auto;
    fill: #222;
}

.bio {
    padding: 0 2rem;
    text-align: center;
    font-size: 1.1rem;
    color: #444;
}

.bio p {
    line-height: 1.5;
}

.bio .ola {
    font-size: 1.5rem;
    font-weight: bold;
}

.linktree {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.links {
    background-color: #f5802c;
    color: #333;
    padding: 1rem 4rem;
    border-radius: 6px;
    text-align: center;
    font-weight: 800;
    transition: background-color 0.2s ease;
}

.links:hover {
    background-color: #f8cb8f;
}

.links p {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}
